@using Abp.Application.Navigation
@using Abp.Collections.Extensions
@using Abp.Extensions
@using TomTeam.Project.Web.Views
@model TomTeam.Project.Web.Models.Layout.HeaderViewModel

<div id="header">
    <div class="top divider wrapper">
        <div class="inner">
                @if (Model.LoginInformations != null)
                {
                    <div class="user fr">
                        欢迎您：@Model.GetShownLoginName()
                        <a href="/PersonalCenter" title="点击进入用户中心"><i class="fa fa-user"></i>用户中心</a>
                        <a href="/Account/Logout" title="点击登出"><i class="fa fa-sign-out"></i>退出</a>
                    </div>
                }
                else
                {
                    <div class="login fr">
                        <a href="javascript:openLogin();" class="signin bg-group" title="点击登录">登录</a>
                        <a href="@Url.Action("Register","Account")" class="reg  bg-group" title="点击注册">注册</a>

                    </div>
                }
            <a href="/" class="logo">
                <img src="~/Common/Images/logo.png" alt="logo" />
            </a>
        </div>
    </div>
    <div class="banner wrapper">
        <div class="item"><a href="@Url.Action("Register","Account")">立即报名</a></div>
    </div>
    <div class="nav divider text-center ">
        <div class="wrapper">
            <div class="inner col5 clearfix">
                @foreach (var menuItem in @Model.Menu.Items)
                {
                    <a target="_blank"   href="/@menuItem.Url" class="@(menuItem.DisplayName == Model.CurrentPageName ? "item on" : "item")">@menuItem.DisplayName</a>
                }
            </div>
        </div>
    </div>
</div>
