@using System.Web.Optimization
@using Abp.Web.Mvc.Extensions
@using TomTeam.Project.Localization
<!DOCTYPE html>

<html lang="zh-CN">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>@ViewBag.CurrentPageName</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="广联达股份有限公司" name="description">
    <meta content="广联达股份有限公司河南分公司" name="keywords">
    <meta content="广联达股份有限公司" name="author">
    <link rel="shortcut icon" href="~/favicon.ico">

    <link href="~/Resource/dist/CSS/lianda.css" rel="stylesheet" />
    @RenderSection("Styles", false)
</head>
<body>

    @Html.Action("Header", "Layout", new { currentPageName = ViewBag.CurrentPageName })

    <div class="main">
        <div class="body home">
            @RenderBody()
        </div>
    </div>

    @Html.Partial("~/Views/Layout/_Footer.cshtml")

    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    
    @RenderSection("Scripts", false)

</body>

</html>